a {color: #000000;text-decoration:underline;}
a:hover {color: #666666; text-decoration: none; }






body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: auto;
}

  
  #container {
    /*必ず真ん中に配置*/

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  #text-wrapper {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 15rem;
  }
  
  h1 {
    font-family: 'Noto Serif JP', serif;
    font-size: 2rem;
    color: #000000;
    margin: 0;
    padding: 0;
  }
  #contents {
    /*必ず真ん中に配置*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*縦書き*/
    writing-mode: vertical-rl;
    font-family: 'Noto Serif JP', serif;
    margin-top: 5rem;
    font-size: 1.25rem;
    color: #000000;
    padding-top: 12rem;
  }

  


  #date,#section1,#section2,#choice1,#choice2,#text1,#text2{
    /*縦に並べる*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
  }

  #endress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #endress > div {
    margin-bottom: 10px;
  }
  

  #date,#choice3,#choice4,#next,#next2,#next3,#next4,#day2,#choice5,#choice6,#choice7,#choice8,#day3,#day4{

    /*マウスカーソルを変える*/
    cursor: pointer;
   

  }

  #date:hover,#choice3:hover,#choice4:hover,#choice5:hover,#choice6:hover,#next:hover,#next2:hover,#day2:hover,
  #day3:hover,#choice7:hover,#choice8:hover,#next3:hover,#next4:hover,#day4:hover{
    /*ホバーすると文字に影がつく*/
    text-shadow: 0 0 0.5em #000000;
    transition: all 0.5s;
  }

  p{
    padding-top: 4rem;
    /*文頭は上に揃える*/
    text-align: start;
  }

  #text1,#text2,#text3,#text4,#text5,#text6,#park,#pool,#next,#next2,#next3,#next4,#section3,#date2,#para2,#me2,#choice5,#choice6
  #choice7,#gohome,#sea,#day4,#section5,#endress{
    display: none;
    animation: fadeIn 1s ease-in-out;
  }

  
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  footer{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #000000;
  }

  #author-info{
    /*左上に表示*/
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 0.7rem;


  }

  footer{
    background-color: #f5f5f5;
    font-size: 0.7rem;
  }
  

  /*スマホで表示した時のレイアウト*/

  /*スマホで表示した時*/
  @media screen and (max-width: 480px) {


    
    #text-wrapper {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      white-space: nowrap;
      height: fit-content;
      margin-top: 20px;
      padding-top: 10rem;
    }
    #contents {
      /*必ず真ん中に配置*/
      display: flex;
      justify-content: center;
      align-items: center;
      /*縦書き*/
      writing-mode: vertical-rl;
      font-family: 'Noto Serif JP', serif;
      margin-top: 5rem;
      font-size: 0.6rem;
      color: #000000;
      padding-top: 8rem;
    }
    body {
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
      font-family: 'Noto Serif JP', serif;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      overflow: auto;
      text-align: start;

    }

    h1{
      font-family: 'Noto Serif JP', serif;
      font-size: 1rem;
      /*太字に*/
      font-weight: bold;
      color: #000000;
      margin: 0;
      padding: 0;
    }

    #author-info{
      /*左上に表示*/
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      font-size: 0.5rem;
    }

    #date,#section1,#section2,#choice1,#choice2,#text1,#text2,#text3,#text4{
      /*縦に並べる*/
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      
    }

    p{
      padding-top: 2rem;
      /*文頭は上に揃える*/
      text-align: start;
      font-size: 0.6rem;
    }

    #text1,#text2,#text3,#text4,#text5,#text6,#park,#pool,#next,#next2,#next3,#next4,#section3,#date2,#para2,#me2,#choice5,#choice6
  #choice7,#gohome,#sea,#day4,#section5{
    display: none;
    animation: fadeIn 1s ease-in-out;
  }

   

  }

  

  

  


