#bodywrap {
    display: flex;
    flex-direction: column;
    height: 100vh; /* ボディ全体の高さを設定 */
  }
  
  #title {
    flex: 1; /* 高さを可変にするために flex: 1 を追加 */
    background-image: url(/docs/images/title.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
     width: 100%;
	height:500px;

    margin-top: 100px;
  }


  
  #first {
    
    flex: 1; /* 高さを可変にするために flex: 1 を追加 */
    background-image: url(/docs/images/firstparagraph.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
	height:315px;

    margin-top: 200px; 

  }
  #weatherwrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 315px;
    margin-top: 300px;
  }
  
  #weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 160px;
  }

 /*#weather img {
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;
  } */
  #weatherImage1,
#weatherImage2 {
  margin-top: 50px;
  max-width: 30%;
  max-height: 30%;
  width: 40%;
  height: auto;
  padding-left: 50%;
  padding-right: 60%;
}


  #weather {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 160px;
  }
  
  
  
  #fadeInImage1,#fadeInImage2 {
    display: none;
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
  }
  
  
  #harewrap,#amewrap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  